<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703692643790-fs0nsjcdlls6j8titglhv1pg4tcv0fui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703692643790-fs0nsjcdlls6j8titglhv1pg4tcv0fui</string>
	<key>API_KEY</key>
	<string>AIzaSyBYGYRTotcHUHs1no7_oLCKNFFgPZoabew</string>
	<key>GCM_SENDER_ID</key>
	<string>703692643790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rafaelPena.USychol</string>
	<key>PROJECT_ID</key>
	<string>usychol-tech</string>
	<key>STORAGE_BUCKET</key>
	<string>usychol-tech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703692643790:ios:f473d6f507032338105f9f</string>
	<key>DATABASE_URL</key>
	<string>https://usychol-tech-default-rtdb.firebaseio.com</string>
</dict>
</plist>